@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);
/**  Basic Page CSS **/

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
  background-color: #093641;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}

.header {
  background-color: #093641;
  padding: 50px 0;
}

.header h1 {
  font-size: 6rem;
  color: #37A198;
}

.header h2 {
  font-family: 'Roboto Slab';
  font-weight: 300;
  color: #EEE8D6;
}

.header .language {
  font-family: 'Roboto Slab';
  color: #F9B640;
  font-size: 3rem;
}

.header .language img {
  width: 50px;
  vertical-align: 0px;
}

.header .branding {
  margin: 0 auto;
}

.header .branding .logo {
  width: 10%;
  min-width: 100px;
  padding-right: 10px;
  float: left;
}

.main {
  background-color: #FDF6E4;
  font-size: 2.5rem;
}

.main figcaption {
  text-align: center;
  font-weight: bold;
  color: #C94C24;
}

.center {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.dateselector form {
  font-size: 1.8rem;
  color: #E76C5A;
  margin: 20px 0;
}

.dateselector input[type="date"] {
  background-color: #FDF6E4;
}

.footer {
  font-family: "Open Sans", sans-serif;
  color: #EEE8D6;
  margin-top: 20px;
}

.footer h2 {
  font-size: 2rem;
  color: #EEC857;
  margin-bottom: 10px;
}

.footer p {
  font-size: 1.5rem;
}
/*app specific css*/


.app h2 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  color: RGBA(38, 139, 210, 1);
}

.instructions {
  margin: 20px 0;
}

.app p {
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
}

.app .dropzone {
  margin-top: 20px;
  font-size: 1em;
  width: 100%;
}

.app .dropzone p {
  margin-bottom: 10px;
}

.app .dropzone img {
  display: block;
  margin: 0 auto;
  margin: 10px;
  max-width: 400px;
  border-radius: 10px;
}
